# Dependencies
node_modules/

# Database
vigilance.db
*.db
*.sqlite
*.sqlite3

# Environment
.env

# SQLite tools (temporary)
sqldiff.exe
sqlite3.exe
sqlite3_analyzer.exe
sqlite-tools/
sqlite.zip

# OS files
.DS_Store
Thumbs.db
dy

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Temp files
*.tmp
temp/